html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  background-image: url('images/bg-pattern.png');
  margin: 0;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.input {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  min-width: 820px;
  min-height: 80px;
  font-size: 30px;
  text-align: center;
  border: 2px solid #626262;
  border-radius: 10px;
}

.country__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.country__item {
  padding: 0 40px;
  width: 900px;
  margin: 0 auto;
}

.country__title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 60px;
  text-align: center;
}

.country__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.country__about {
  width: 400px;
}

.country__about p {
  margin: 0;
  margin-bottom: 20px;
}

.country__about span {
  font-weight: 600;
}

.country__flag {
  width: 400px;
}
